name: Publish to crates.io

on:
  release:
    types: [released] # only when creating a full release (not pre-release or draft)

jobs:
  publish:
    runs-on: ubuntu-latest

    environment: publish
    permissions:
      id-token: write

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
      id: auth

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install libpam0g-dev

    - run: cargo publish --locked
      env:
        CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
